{% extends 'blog/base.html' %}

{% block main_area %}

    <!-- 검색/태그/카테고리로 검색할 때 -->
    <h1 style="margin:2rem 0">Post
        {% if search_info %}<small class="text-muted" style="margin-left: 1rem;">{{ search_info }}</small>{% endif %}
        {% if category %}<span class="btn btn-success" style="margin-left: 1rem;">{{ category }}</span>{% endif %}
        {% if tag %}<span class="btn btn-success" style="margin-left: 1rem;"><i class="fas fa-tags"></i> {{ tag }}({{ tag.post_set.count }})</span>{% endif %}
        <!-- 로그인 되어 있는 경우에 사용자가 최고 관리자이거나 스태프일 떄만 버튼이 보이도록 설정 -->
        {% if user.is_authenticated%}
            {% if user.is_superuser or user.is_staff %}
                <a class="btn btn-outline-success float-right" href="/blog/create_post/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Post</a>
            {% endif %}
        {% endif %} 
    </h1>

    {% if post_list.exists %}

        {% for p in post_list %}
            <!-- Blog Post -->
            <div class="card mb-4" id="post-{{ p.pk }}">
                {% if p.head_image %}
                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
                {% endif %}
                <div class="card-body">
                    {% if p.category %}
                        <span class="badge bg-success float-right">{{ p.category }}</span>
                    {% else %}
                        <span class="badge bg-success float-right">기타</span>
                    {% endif %}

                    <h3 class="card-title"><a href="{{ p.get_absolute_url }}" ><i class="fas fa-heart"></i> {{ p.title }}</a></h3>
                    {% if p.hook_text %}
                        <p class="text-muted">{{ p.hook_text }}</p>
                    {% endif %}
                    <p class="card-text">{{ p.get_content_markdown | truncatewords_html:10 | safe }}</p>

                    {% if p.tags.exists %}
                        <i class="fas fa-tags"></i>
                        {% for tag in p.tags.iterator %}
                            <a href="{{ tag.get_absolute_url }}"><span class="badge bg-success">{{ tag }}</span></a>
                        {% endfor %}
                        <br/>
                        <br/>
                    {% endif %}
                    
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ p.created_at |date:'y년 m월 d일 H:m'  }}
                </div>
            </div>
        {% endfor %}

    {% else %}
        <h3 style="margin-top:3rem">게시물이 없습니다.</h3>
    {% endif %}

    {% if is_paginated %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
            {% endif %}

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}